/* Annonces styles */
.annonce-box {
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.19);
    padding: 20px;
    h2 {
        display: inline;
        padding-left: 8px;
        padding-right: 35px;
    }
}
