/* Footer styles */
footer {
    background-color: white;
    color: $dark-gray;
    font-size: 0.75rem;
    a {
        color: $dark-gray;
        text-decoration: underline;
        &:hover, &:focus {
            color: darken($dark-gray, 8%);
        }
    }
}