/* Header styles */

header#header {
    h1 a {
        color: $dark-gray;
        text-decoration: none;
    }
    a {
        &.active {
            color: $gray;
            text-decoration: none;
            font-weight: 500;
        }
        &:hover, &:focus {
            color: darken($gray, 8%);
        }
    }
}