@import 'global';
@import 'header';
@import 'footer';
@import 'annonces';

@import 'bootstrap/bootstrap';

/* Main styles */
body {
    font-family: "Roboto", sans-serif;
}

.btn-add {
    border: 1px solid rgba(0, 0, 0, 0.11);
    font-size: 1.5rem;
    border-radius: 100px;
    padding: 1px 12px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
    display: block;
    margin-left: 8px;
    &:hover, &:focus {
        background-color: $success;
        color: white;
    }
}